@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&family=Raleway&display=swap");

* {
  font-family: "Poppins";
  padding: 0px;
  margin: 0px;
  line-height: 1.4;
}

:root {
  --c1: #d6d6d6;
  --c2: #ed7d31;
  --c3: #6c5f5b;
  --c4: #2d4356;
  --c5: #add8e6;
  --c6: rgb(157, 196, 48);
}

.body {
  background-color: var(--c1);
}

.container {
  background-color: var(--c1);
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  animation: appear 0s 3s forwards;
  display: grid;
  grid-template-rows: 1fr 15fr 3fr;
  grid-template-columns: max(240px, 15%) 85%;
}

/* --- Initial Load --- */
.section-container-title {
  display: flex;
  font-size: 10rem;
  animation: disappear 0s 3s forwards;
  grid-column: 1/3;
}

.title-one {
  animation: appear 0s 0s forwards;
}

.title-two {
  animation: appear 0s 1s forwards;
  visibility: hidden;
}

/* --- Header --- */

.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--c2);
  color: white;
  gap: 16px;
  min-height: 100%;
  font-size: 18pt;
  grid-column: 1/3;
  grid-row: 1/2;
  padding-left: 15px;
  padding-bottom: 10px;
}

.section-header .logo {
  max-height: 2rem;
}

.nav-hider {
  display: flex;
  align-items: center;
}

.menu {
  margin-right: 1rem;
}

.menu:hover {
  background-color: var(--c6);
  color: white;
  box-shadow: 5px 5px 0px 0px black;
}

/* --- Navigation --- */

.nav-section {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex: 0 0 auto;
  padding-left: 15px;
  transition: 250ms ease;
}

.nav-item {
  font-size: 24pt;
  padding: 0px 20px;
}

.add-project-button {
  margin-top: 40px;
  padding: 1rem 3rem;
  font-size: 20pt;
  margin-top: 48px;
  border-style: none;
  background-color: var(--c4);
  color: white;
}

.add-project-button:hover {
  background-color: var(--c2);
  box-shadow: 5px 5px 0px black;
  transition: 250ms;
}

.nav-item:hover {
  transition: 250ms;
  background-color: var(--c2);
  color: white;
}

.projects-nav {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.projects-nav div {
  padding-left: 1rem;
  margin: 0.4rem;
  font-size: 1.4rem;
}

.projects-nav div:hover {
  background-color: var(--c5);
  transition: 250ms;
  color: black;
  box-shadow: 2px 2px 0px 0px black;
}

/* --- Content --- */
.content-section {
  padding: 20px;
  display: grid;
  grid-row: 2/3;
  grid-column: 2/3;
  grid-template-rows: repeat(auto-fit, 6rem);
  gap: 10px;
  overflow-y: scroll;
}

.todo-item {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  background-color: var(--c2);
  color: white;
  padding: 12px;
  height: 4rem;
  min-width: 95%;
  font-size: 1.2rem;
  gap: 1rem;
  justify-content: space-between;
}

/* description */
.todo-item div:nth-child(2) {
  max-height: 4rem;
  width: 40ch;
  overflow-y: scroll;
}

.todo-item:hover {
  transition: 250ms;
  box-shadow: 5px 5px 0px 0px black;
}

.todo-btn {
  border: none;
  background-color: var(--c4);
  font-size: 2rem;
  color: white;
  width: 25rem;
  margin: 1rem;
  justify-self: center;
}

.edit-btn {
  border: none;
  background-color: var(--c4);
  font-size: 1.2rem;
  color: white;
  width: 5rem;
  padding: 1rem 0px;
  margin: 1rem;
  justify-self: center;
}

.edit-btn:hover {
  background-color: var(--c5);
  color: black;
  box-shadow: 5px 5px 0px black;
  transition: 250ms;
}

.todo-btn:hover {
  background-color: var(--c2);
  box-shadow: 5px 5px 0px black;
  transition: 250ms;
}

.completed {
  background-color: var(--c6);
  color: black;
}

.completed:hover {
  background-color: var(--c6);
  color: black;
}

.action-btns {
  display: flex;
}

.action-btns button {
  margin: 3px;
}

.full-bleed {
  grid-column: 1/3;
}

/* --- Modals --- */

.project-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--c4);
  padding: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.5rem;
}

.project-modal label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-modal input {
  padding: 0.2rem;
  line-height: 1.5rem;
}

.project-modal button {
  border: none;
  padding: 1rem;
  background-color: var(--c2);
  color: white;
  font-size: 1.5rem;
}

.project-modal button:hover {
  background-color: var(--c5);
  color: black;
  transition: 250ms;
  box-shadow: 5px 5px 0px black;
}

.todo-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--c4);
  padding: 40px;
  color: white;
  gap: 1rem;
  font-size: 1.4rem;
}

.todo-modal label input {
  margin-left: 2rem;
}

.todo-modal button {
  border: none;
  padding: 1rem;
  background-color: var(--c2);
  color: white;
  font-size: 1.4rem;
}

.todo-modal button:hover {
  background-color: var(--c5);
  color: black;
  transition: 250ms;
  box-shadow: 5px 5px 0px black;
}

.edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--c4);
  padding: 40px;
  color: white;
  gap: 1rem;
  font-size: 1.4rem;
}

.edit-modal label input {
  margin-left: 2rem;
}

.edit-modal button {
  border: none;
  padding: 1rem;
  background-color: var(--c2);
  color: white;
  font-size: 1.4rem;
}

.edit-modal button:hover {
  background-color: var(--c5);
  color: black;
  transition: 250ms;
  box-shadow: 5px 5px 0px black;
}

.modal .close-btn {
  position: absolute;
  align-self: flex-end;
  margin: 0px;
  top: 0px;
  right: 0px;
  padding: 5px;
}

.modal .close-btn:hover {
  box-shadow: none;
  color: white;
  background-color: rgb(160, 22, 22);
}

.hidden {
  display: none;
}

/* --- Overflow styling --- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c1);
  border-radius: 10px;
}

@keyframes appear {
  to {
    visibility: visible;
  }
}

@keyframes disappear {
  to {
    display: none;
  }
}

@keyframes slide-right {
  to {
    margin-left: 0px;
  }
}

@media screen AND (max-width: 480px) {
  * {
    font-size: 12px;
  }
}
