@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&family=Raleway&display=swap");

* {
  font-family: "Poppins";
  padding: 0px;
  margin: 0px;
  line-height: 1.4;
}

:root {
  --c1: #d6d6d6;
  --c2: #ed7d31;
  --c3: #6c5f5b;
  --c4: #2d4356;
}

.body {
  background-color: var(--c1);
}

.container {
  background-color: var(--c1);
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  animation: appear 0s 3s forwards;
  display: grid;
  grid-template-rows: 1fr 15fr 3fr;
  grid-template-columns: 15% 85%;
}

/* --- Initial Load --- */
.section-container-title {
  display: flex;
  font-size: 10rem;
  animation: disappear 0s 3s forwards;
  grid-column: 1/3;
}

.title-one {
  animation: appear 0s 0s forwards;
}

.title-two {
  animation: appear 0s 1s forwards;
  visibility: hidden;
}

/* --- Header --- */

.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--c2);
  gap: 16px;
  min-height: 100%;
  font-size: 18pt;
  grid-column: 1/3;
  grid-row: 1/2;
  padding-left: 15px;
}

.section-header .logo {
  max-height: 2rem;
}

/* --- Navigation --- */

.nav-section {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex: 0 0 auto;
  padding-left: 15px;
}

.nav-item {
  font-size: 24pt;
  padding: 0px 20px;
}

.add-project-button {
  margin-top: 40px;
  padding: 1rem 3rem;
  font-size: 20pt;
  margin-top: 48px;
  border-style: none;
  background-color: var(--c4);
  color: white;
}

.add-project-button:hover {
  background-color: var(--c2);
  box-shadow: 5px 5px 0px black;
  transition: 250ms;
}

.nav-item:hover {
  transition: 250ms;
  background-color: var(--c2);
  color: white;
}

@keyframes appear {
  to {
    visibility: visible;
  }
}

@keyframes disappear {
  to {
    display: none;
  }
}
